#textdomain  wesnoth-trow-we
#define TRAIT_DEXTROUS_WESFOLK
[trait]
        id=dextrous_wesfolk
        #textdomain wesnoth-help
        male_name= _ "dextrous"
        female_name= _ "female^dextrous"
        #textdomain  wesnoth-trow-we
        help_text= _ "<italic>text='Dextrous'</italic> Ancient Wesfolk valued agility in battle as highly as strength. The descendants of agile warriors and wizards are still excellent with ranged combat, dealing 1 more damage."
        [effect]
            apply_to=attack
            range=ranged
            increase_damage=1
        [/effect]
[/trait]
#enddef

#define TRAIT_INSANE
    [trait]
        id=insane
        #textdomain wesnoth-help
        male_name= _ "insane"
        female_name= _ "female^insane"

        [effect]
            apply_to=attack
            increase_damage=-30%
            increase_attacks=1
        [/effect]
        [effect]
            apply_to=hitpoints
            increase_total=-8
        [/effect]
        [effect]
            apply_to=max_experience
            increase_total=100
        [/effect]
[/trait]
#enddef
