#textdomain wesnoth-trow
[unit_type]
    id=Bone Skeleton
    name= _ "Bone Skeleton"
    race=undead
    image="units/bone_skeleton.png"
    {DEFENSE_ANIM "units/bone_skeleton.png" "units/bone_skeleton.png" {SOUND_LIST:SKELETON_HIT} }
    hitpoints=50
    movement_type=undeadfoot
    movement=4
    [abilities]
        {ABILITY_SUBMERGE}
    [/abilities]
    [resistance]
        blade=50
        pierce=30
        impact=110
    [/resistance]
    [defense]
            #deep_water=90
            #shallow_water=80
            #reef=70
            #swamp_water=70
            flat=70
            sand=80
            forest=60
            hills=60
            mountains=50
            #village=40
            #castle=40
            cave=70
            frozen=80
            #fungus=40
    [/defense]
    experience=100
    level=2
    alignment=chaotic
    advances_to=null
    {AMLA_DEFAULT}
    cost=31
    usage=fighter 
    description= _ ""
    die_sound=skeleton-big-die.ogg
    [attack]
        name=bone mace
        description= _"bone mace"
        type=impact
        range=melee
        damage=10
        number=3
        icon=attacks/mace-spiked.png
    [/attack]

    [attack_anim]
        [filter_attack]
            name=bone mace
        [/filter_attack]
        start_time=-200
        [frame]
            image="units/bone_skeleton.png:75"
        [/frame]
        [frame]
            image="units/bone_skeleton.png:75"
        [/frame]
        {SOUND:HIT_AND_MISS mace.ogg {SOUND_LIST:MISS} -75}
        [frame]
            image="units/bone_skeleton.png:75"
        [/frame]
    [/attack_anim]
[/unit_type]
